* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.2rem;
    font-family: sans-serif;
}

main {
    min-height: 70vh;
}

.title-school {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-school {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.425);
    padding: 15px 5px;
}

.btns-options {
    display: flex;

    gap: 20px;
    width: 550px;
    padding: 20px;
    /* border: 1px solid red; */

    margin-top: 50px;
    margin-left: 29%;
    margin-right: 29%;
}

button {
    width: 300px;
    padding: 10px;
    font-size: 1.2rem;
}

footer {
    background-color: red;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.2rem;
    font-family: sans-serif;
}